body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
       

}

.h1 {

    color: rebeccapurple;
    width: 50%;
    height: 50vh;
    font-family: Arial;
    margin: 10% auto;

}

.c-loader {

    animation: spin 1s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 50%;
    
}

@keyframes spin {
    
    0%   {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}